name: Senador Jorge Seif
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *'


jobs:
  rss2telegram:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Download artifact
        id: download
        continue-on-error: true
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: cron.yml
          workflow_conclusion: success
      - name: Move database
        continue-on-error: true
        run: mv Rss2Telegram/rss2telegram.db rss2telegram.db
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Install Requirements
        run: pip install -r requirements.txt
      - name: Run Rss to Telegram
        run: python rss2telegram.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN_GSJSEIF }}
          DESTINATION: ${{ vars.DESTINATION_GSJSEIF }}
          URL: ${{ vars.URL_GSJSEIF }}
          EMOJIS: ${{ vars.EMOJIS_GSJSEIF }}
          TOPIC: ${{ vars.TOPIC_GSJSEIF }}
          HIDE_BUTTON: ${{ vars.HIDE_BUTTON_GSJSEIF }}
          MESSAGE_TEMPLATE: ${{ vars.MESSAGE_TEMPLATE_GSJSEIF }}
          BUTTON_TEXT: ${{ vars.BUTTON_TEXT_GSJSEIF }}
          PARAMETERS: ${{ vars.PARAMETERS_GSJSEIF }}
          TELEGRAPH_TOKEN: ${{ vars.TELEGRAPH_TOKEN_GSJSEIF }}
          DRYRUN: ${{ steps.download.outcome }}
      - name: Upload history
        uses: actions/upload-artifact@v4
        with:
          pattern: rss2telegram-*
          path: rss2telegram.db
          merge-multiple: true
